<div class="container">
  <img src="../../../assets/IMG_9904.JPG" />
  <div class="content">
    <mat-card>
      <h1>Wer sind wir?</h1>
      <p>
        Die Schüler*innenvertretung ist eure Vertretung am
        Hannah-Arendt-Gymnasium. Als offizielles Gremium treffen wir uns
        wöchentlich, momentan mittwochs in der 7. Stunde. Zu unseren allgemeinen
        Aufgaben gehört zum Beispiel das Organisieren der Schülerratssitzungen,
        also dort, wo alle Klassen-, bzw. Jahrgangssprecher*innen unserer Schule
        aufeinandertreffen. Etwa zweimal pro Schuljahr tagt der Schülerrat, in
        dem wir gewählt werden. Dies ist notwendig, da ihr (bzw. eure
        Klassen-oder Jahrgangssprecher) entscheiden sollt, wer euch vertritt.
        Trotzdem kannst du auch einfach so aktiv bei uns werden - ganz egal, ob
        du Klassensprecher*in bist oder nicht! Denn wir finden: Jede*r
        Schüler*in am HAG soll die Möglichkeit haben, die eigene Schule
        mitzugestalten!
      </p>
    </mat-card>
    <mat-card style="margin: auto 0 auto auto">
      <h1>Was machen wir?</h1>
      <p>
        Wir möchten die Schule und unser Schulleben gestalten! Zum Einen möchten
        wir dafür Bestehendes verbessern. So setzen wir uns für eine Renovierung
        der Toiletten ein und arbeiten zusammen mit den Lehrkräften und der
        Stadtverwaltung an den Plänen für die bevorstehende Schulsanierung. Zum
        Anderen entwickeln wir Projekte und Projektideen, die wir entweder
        selbstständig oder zusammen mit Lehrkräften umsetzen.
      </p>
      <p>
        So ist eines unserer Projekte die Nachhilfevermittlung. Diese
        funktioniert über diese Internetseite. Wenn du das Nachhilfeprogramm
        Nachhilfeprogramm nutzen möchtest, kannst du dich einfach hier auf der
        Website anmelden. Verwende dazu deine Iserv-Adresse und ein neues
        Passwort.
      </p>
    </mat-card>

    <mat-card>
      <p>
        Wir, die Schülervertretung, suchen dringend Nachwuchs! Wenn du also Lust
        hast, an unserer Schule an Projekten mitzuarbeiten und dich zu
        engagieren, dann bist du bei uns genau richtig. Wir treffen uns einmal
        in der Woche und du kannst gerne einmal bei uns vorbeischauen. Wir
        freuen uns auf dich!
      </p>
    </mat-card>
    <div id="nachhilfe">
      <mat-card id="geben">
        <h1>Nachhilfe geben:</h1>
        <p>
          Wenn du angemeldet bist, kannst du einfach das Fach oder die Fächer
          angeben, in denen du Nachhilfe geben möchtest, und die Jahrgänge, bei
          denen du Nachhilfe geben möchtest.
        </p>
      </mat-card>

      <mat-card id="nehmen">
        <h1>Nachhilfe nehmen:</h1>
        <p>
          Wenn du angemeldet bist, kannst du einfach das Fach auswählen, in dem
          du Nachhilfe nehmen möchtest, und dir werden die Personen angezeigt,
          die für dich infrage kommen. Zu diesen kannst du dann Kontakt
          aufnehmen.
        </p>
      </mat-card>

      <mat-card id="extra">
        Die Schülervertretung vermittelt nur. Alles andere müsst ihr unter euch
        regeln.
      </mat-card>
    </div>
  </div>
</div>
