@import '../../../../theme.scss';

mat-card {
  width: 50rem;
  height: 25rem;
  border: none;
  box-shadow: none !important;

  mat-card-title {
    font-size: 2.2rem !important;
  }
  mat-card-subtitle {
    font-size: 1.2rem !important;
  }
  .sample {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    width: 4rem;
    height: 4rem;
  }

  mat-card-content {
    font-size: 1rem;
    display: flex;
    width: 100%;
    & > * {
      width: 100%;
    }
  }
}
