@import '../../../theme.scss';
* {
  @include noselect;
}
mat-toolbar {
  justify-content: space-between;

  width: 100%;
  mat-icon {
    margin: auto auto auto 0;
  }
  span {
    margin: auto;
  }
  mat-icon,
  span {
    text-align: center;
    &:hover {
      cursor: pointer;
      color: grey;
    }
    &:focus {
      outline: none;
      border: 0;
    }
  }

  #menu {
    margin: auto 0 auto auto;
  }
}
