mat-toolbar {
  justify-content: space-between;
  width: 100%;
  span,
  mat-icon {
    width: 20%;
    text-align: center;
    &:hover {
      cursor: pointer;
      color: grey;
    }
    &:focus {
      outline: none;
      border: 0;
    }
  }
}
