<div class="noselect">
  <mat-form-field>
    <input matInput placeholder="Fach" (keyup)="filter($event.target.value)" />
  </mat-form-field>

  <div id="output">
    <mat-card
      *ngFor="let schueler of filteredSchueler$ || nachhilfeSchueler$ | async"
      (click)="show(schueler.key)"
    >
      <mat-card-header>
        <div mat-card-avatar class="sample"></div>

        <mat-card-title>{{
          schueler.vorname + " " + schueler.nachname
        }}</mat-card-title>
        <mat-card-subtitle>Klasse: {{ schueler.klasse }}</mat-card-subtitle>
        <div class="date">
          {{ schueler.creationDate.seconds * 1000 | date: "d.MM.yyyy" }}
        </div>
      </mat-card-header>
      <mat-card-content>
        Nachhilfe für Jahrgang {{ jahrgang(schueler.jahrgang) }}
        <br />
        Fächer: {{ schueler.faecher.join(", ") | titlecase }}
      </mat-card-content>
    </mat-card>
  </div>
</div>
