<router-outlet></router-outlet>

<div id="info">
  <button
    mat-fab
    [color]="privacy ? 'warn' : 'primary'"
    aria-label="Info"
    (click)="privacy = !privacy"
    id="activate"
  >
    <mat-icon>{{ privacy ? "close" : "info" }}</mat-icon>
  </button>

  <ng-template [ngIf]="privacy">
    <button
      mat-fab
      color="secondary"
      aria-label="Impressum"
      id="impressum"
      (click)="showImpressum()"
    >
      <mat-icon>contact_page</mat-icon>
    </button>
    <button
      mat-fab
      color="secondary"
      aria-label="Datenschutz"
      id="privacy"
      (click)="showDatenschutz()"
    >
      <mat-icon>policy</mat-icon>
    </button>
  </ng-template>
</div>
