div {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  mat-icon {
    align-self: flex-start;
    position: absolute;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 30rem;

    & * {
      width: 100%;
    }
    mat-form-field {
      padding: 0.5rem 0 0.5rem 0;
      font-size: 150%;
    }
    h1 {
      font-size: 250%;
      color: grey;
      font-weight: bold;
      span {
        color: var(--accent-color) !important;
      }
    }
    button {
      margin: 0 0 1rem 0;
    }
    a {
      width: 50%;
      text-align: center;
      padding: 0.5rem 0 0.5rem 0;
      margin-top: 0.5rem;
    }
  }
}

@media only screen and (max-width: 800px) {
  mat-icon {
    position: relative !important;

    margin: 0 auto;
  }
  form {
    width: initial !important;
    mat-form-field {
      font-size: 120% !important;
    }
  }
}
