<div class="noselect">
  <form
    novalidate
    #nachhilfeGForm="ngForm"
    (ngSubmit)="save(nachhilfeGForm.value)"
  >
    <h1>Nachhilfe Geben</h1>
    <mat-divider></mat-divider>
    <div id="faecher">
      <mat-card
        *ngFor="let fach of faecher$ | async"
        (click)="setFach(fach)"
        class="mat-elevation-z2"
        [ngClass]="{ active: activeFaecher.includes(fach) }"
        >{{ fach | titlecase }}</mat-card
      >
    </div>
    <mat-divider></mat-divider>
    <br />

    <mat-form-field>
      <mat-label>Von Jahrgang</mat-label>
      <mat-select
        required
        ngModel
        #jg1="ngModel"
        name="jg1"
        [lwCompareWith]="{ control: 'jg2', operator: '<=' }"
      >
        <mat-option
          *ngFor="let class of classes$ | async; let i = index"
          [value]="{ class: class, index: i }"
        >
          {{ class }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="jg1.invalid">{{
        jg1.hasError("required")
          ? "Du musst den Jahrgang angeben"
          : "'Von Jahgang' muss kleiner oder gleich 'Bis Jahrgang' sein"
      }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Bis Jahrgang</mat-label>
      <mat-select
        required
        ngModel
        #jg2="ngModel"
        name="jg2"
        [lwCompareWith]="{ control: 'jg1', operator: '>=' }"
      >
        <mat-option
          *ngFor="let class of classes$ | async; let i = index"
          [value]="{ class: class, index: i }"
        >
          {{ class }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="jg2.invalid">{{
        jg2.hasError("required")
          ? "Du musst den Jahrgang angeben"
          : "'Bis Jahgang' muss höher oder gleich 'Von Jahrgang' sein"
      }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        placeholder="Weitere Infos"
        cols="30"
        rows="10"
        autocomplete="off"
        ngModel
        #info="ngModel"
        name="info"
      ></textarea>
    </mat-form-field>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      class="mediumButton"
      [disabled]="
        !nachhilfeGForm.valid ? true : activeFaecher.length >= 1 ? false : true
      "
    >
      Senden
    </button>
  </form>
</div>
