<div class="page">
  <mat-toolbar color="primary" class="mat-elevation-z6 noselect">
    <mat-icon svgIcon="SvLogo" class="mediumIcon" routerLink="/"></mat-icon>
    <!-- <span>Projekte</span> -->
    <span routerLink="/nachhilfe/geben">Nachhilfe Geben</span>
    <span routerLink="/nachhilfe/nehmen">Nachhilfe Nehmen</span>

    <!-- <span>Über Uns</span> -->
    <!-- <mat-icon
      class="littleIcon"
      id="menu"
      [matMenuTriggerFor]="settings"
      #trigger="matMenuTrigger"
      >{{ trigger.menuOpen ? "menu_open" : "menu" }}</mat-icon
    > -->

    <span routerLink="/auth/login" *ngIf="(user$ | async) === null" id="menu">
      <mat-icon>perm_identity</mat-icon>
      Anmelden
    </span>

    <span
      *ngIf="(user$ | async) !== null"
      id="menu"
      [matMenuTriggerFor]="settings"
      #trigger="matMenuTrigger"
    >
      <mat-icon>perm_identity</mat-icon>
      {{ (user$ | async)?.vorname + " " + (user$ | async)?.nachname }}
    </span>

    <mat-menu #settings="matMenu" xPosition="before">
      <button mat-menu-item routerLink="/settings">
        <mat-icon>settings</mat-icon>
        <span>Einstellungen</span>
      </button>
      <button mat-menu-item (click)="logout()" id="logout">
        <mat-icon>close</mat-icon>
        <span>Abmelden</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <main>
    <lw-loader *ngIf="isLoading$ | async"></lw-loader>
    <ng-content *ngIf="!(isLoading$ | async)"></ng-content>
  </main>
</div>
