html,
body {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
@keyframes uebergang {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
