html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: linear-gradient(10deg, #525252 0%, #2d2d2d 100%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
