html,
body {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.errorSnackbar {
  background-color: var(--warn-color) !important;
  color: white !important;
  font-weight: bold !important;
}
.test {
  background-color: red !important;
}

.successSnackbar {
  background-color: green !important;
  color: white !important;
  font-weight: bold !important;
}

@keyframes uebergang {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
