<mat-card>
  <label>
    <span>Dunkles Design</span>
    <mat-slide-toggle
      [(ngModel)]="settings$.value.darkTheme"
      (change)="change()"
    ></mat-slide-toggle>
  </label>
</mat-card>
<mat-card>
  <label>
    <span>Animation</span>
    <mat-slide-toggle
      [(ngModel)]="settings$.value.animation"
      (change)="change()"
    ></mat-slide-toggle>
  </label>
</mat-card>
<mat-card>
  <label>
    <span>Logo beim start der Website anzeigen?</span>
    <mat-slide-toggle
      [(ngModel)]="settings$.value.willkommen"
      (change)="change()"
    ></mat-slide-toggle>
  </label>
</mat-card>
<mat-card>
  <label>
    <span>Immer das mobile Design verwenden?</span>
    <mat-slide-toggle
      [(ngModel)]="settings$.value.mobileDesign"
      (change)="change()"
    ></mat-slide-toggle>
  </label>
</mat-card>
